.content {
  align-items: baseline;
  justify-content: center;
  max-width: 66.25rem;
  align-items: center;
  transition: all;
  transition-duration: 0.5;
  font-size: 0.85rem;
}

.content h1 {
  text-align: left;
}

.contentContainer {
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.tabHeader {
  display: none;
}

.header {
  flex-direction: column;
  display: inherit;
  font-size: 1.2rem;
  gap: 2.55rem;
  text-align: left;
  width: 8.5rem;
}

.underline {
  text-decoration: underline #1c6ead;
  filter: drop-shadow(2px 4px 6px #1c6ead);
  transition: all;
  transition-duration: 0.5s;
  padding-right: auto;
}

.textContent,
.list,
.projectArticle p {
  margin: 1rem 0;
  align-self: center;
  max-width: 60rem;
  line-height: 1.6rem;
}

.textContent {
  text-align: left;
  max-width: 730px;
}

.list {
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  max-width: 730px;
}

.list em {
  font-size: 1rem;
}

.timeline {
  margin: 1rem 0;
  background: rgb(255 255 255 / 8%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 22%);
  backdrop-filter: blur(5px);
  border: 5px solid rgb(255 255 255 / 0%);
}

.btnContainer {
  gap: 2rem;
}

.btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  width: 8rem;
  padding: 0.75rem;
  transition: all;
  transition-duration: 0.5s;
}

.btn:hover {
  cursor: pointer;
}

.prv {
  animation: notify-prv 0.9s ease-in-out infinite both;
}

.nxt {
  animation: notify-nxt 0.9s ease-in-out infinite both;
}

.experienceItems {
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.experienceContainer {
  gap: 1rem;
}

.experienceList li {
  list-style-type: lower-greek;
}

.skillsUl {
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.skillsUl h3 {
  color: black;
}

.skillListItem {
  width: 250px;
  height: 300px;
}

.aboutNav {
  gap: 2rem;
}

.aboutNavItems {
  transition: all;
  transition-duration: 0.5s;
}

.aboutNavItems:hover {
  cursor: pointer;
  text-decoration: underline;
  filter: drop-shadow(2px 4px 6px #1c6ead);
}

/* animation keyframes */

@keyframes notify-prv {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes notify-nxt {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* tablet */

@media screen and (max-width: 992px) {
  .skillListItem {
    max-width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .tabContent {
    display: flex;
    flex-direction: column;
  }

  .contentContainer {
    align-items: flex-start;
    margin: 0;
  }

  .content {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    display: none !important;
  }

  .tabHeader {
    display: flex;
    width: 100%;
  }

  .textContent,
  .list {
    max-width: 40rem;
  }

  .list {
    height: max-content;
  }

  .experienceContainer {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 567px) {
  .content {
    padding: 0 1rem;
  }

  .contentContainer {
    margin: 0;
  }

  .header {
    gap: 1rem;
  }

  .skillsUl {
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .skillListItem {
    max-width: 300px;
    max-height: 250px;
  }
}
