.contactSubmission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 0;
  z-index: 0;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.content h1 {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  display: flex;
  align-self: flex-start;
}

.contactForm {
  gap: 2rem;
  flex-direction: column;
}

.formInput {
  gap: 1rem;
  width: 100%;
}

.formInput input {
  background: none;
  height: 2.5rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #1c6ead99;
}

.formInput input::placeholder,
#formSubmission textarea::placeholder {
  vertical-align: text-top;
  color: #ffffff85;
}

#formSubmission textarea {
  padding: 1rem;
  width: 41rem;
  height: 7rem;
  border-radius: 5px;
  background: none;
  border: 1px solid #1c6ead99;
}

#formSubmission input:focus,
#formSubmission textarea:focus {
  outline: none;
}

.formSubmission {
  justify-content: flex-end;
}

.errorMsg {
  justify-content: center;
}

.errorMsg p {
  padding: 0.5rem;
  border-radius: 5px;
  color: #c30d00;
  background: #f4433641;
}

.notValid {
  background: #f4433641 !important;
  box-shadow: 0 4px 30px rgb(0 0 0 / 22%);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255 255 255 / 0%);
}

/* tablet */

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 2.5rem;
  }

  .formInput Input {
    width: 15rem;
  }

  #formSubmission textarea {
    width: 31rem;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    margin: 0 !important;
  }

  .content h1 {
    font-size: 2rem;
  }

  .formInput {
    flex-direction: column;
  }

  .formInput Input,
  #formSubmission textarea {
    width: 20rem;
  }

  .formSubmission {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .formInput Input,
  #formSubmission textarea {
    width: 15rem;
  }
}