.projectContent {
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.proHeaders {
  flex-direction: column;
  /* position: absolute; */
  /* width: 900px; */
  display: inherit;
  font-size: 1.4rem;
  gap: 1.5rem;
  text-align: left;
}

.header {
  transition: all;
  transition-duration: 0.5s;
  padding-right: 2rem;
}

.header:hover {
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
  text-decoration: underline;
  filter: drop-shadow(2px 4px 6px #1c6ead);
}

.projectArticle,
.header-addition {
  /* margin: 5rem 0; */
  background-size: cover;
  background-position: center;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  transition: all;
  transition-duration: 1s;
  max-width: 66.25rem;
  overflow: visible;
  transition: all;
  transition-duration: 1s;
  text-align: left;
  /* height: 500px; */
}

.projectDetails {
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.projectDetails h1 {
  text-align: left;
  font-size: 2rem;
}

.header-addition {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding: 0;
  justify-content: space-around;
}

.projectsHeader,
#contact h2 {
  font-size: 3.5rem;
  display: flex;
  justify-content: flex-start;
}

.projectsHeader {
  margin: 5rem 0 0 5rem;
}

/* .projectArticle:nth-child(even) {
  background-size: cover;
  flex-direction: row-reverse;
} */

.projectImage {
  /* max-width: 525px; */
  /* max-height: 360px; */
  transition: all;
  transition-duration: 0.5s;
  filter: drop-shadow(0 0 0.75rem #1c6ead);
}

.projectArticle p {
  /* margin: 2rem 0; */
  max-width: 30rem;
}

.technologies {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.technologyItem {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.btnContainer {
  width: 100%;
  justify-content: flex-end;
  /* justify-self: flex-end; */
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.btn {
  background: #ffffff14;
  margin: 5px 0;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 15px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #38d2d2;
  background-image: linear-gradient(
    45deg,
    #ffffff14 0%,
    #38d2d2c8 51%,
    #38d2d2 100%
  );
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  text-decoration: none;
}

.carouselBtn {
  justify-content: space-between;
}
