.projectContent {
  flex-direction: row !important;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.proHeaders {
  flex-direction: column;
  /* position: absolute; */
  /* width: 900px; */
  display: inherit;
  font-size: 1rem;
  font-weight: 700;
  gap: 1rem;
  text-align: left;
}

.header {
  transition: all;
  transition-duration: 0.5s;
  padding-right: 2rem;
}

.projectArticle,
.header-addition {
  /* margin: 5rem 0; */
  background-size: cover;
  background-position: center;
  /* display: flex; */
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  transition: all;
  transition-duration: 1s;
  max-width: 66.25rem;
  overflow: visible;
  transition: all;
  transition-duration: 1s;
  text-align: left;
  /* height: 500px; */
}

.projectDetails {
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 15rem;
}

.projectDetails h1 {
  text-align: left;
  font-size: 1.6rem;
}

.projectDetails p {
  font-size: 0.9rem;
}

.header-addition {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding: 0;
  justify-content: space-around;
}

.projectsHeader {
  font-size: 3rem;
  display: flex;
  justify-content: flex-start;
}

.projectsHeader {
  margin: 5rem 0 0 5rem;
}

/* .projectArticle:nth-child(even) {
  background-size: cover;
  flex-direction: row-reverse;
} */

.tabState {
  display: none;
}

#projectImage {
  position: relative !important;
  max-width: 500px;
  max-height: 280px;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transition: all;
  transition-duration: 0.5s;
  filter: drop-shadow(0 0 0.75rem #1c6ead);
}

.projectArticle p {
  /* margin: 2rem 0; */
  max-width: 30rem;
}

.technologies {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.technologyItem {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  transition: all;
  transition-duration: 0.25s;
}

.btnContainer {
  width: 100%;
  justify-content: flex-end;
  /* justify-self: flex-end; */
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.carouselBtn {
  justify-content: space-between;
}

@media (hover: hover) {
  .technologyItem:hover {
    box-shadow: rgba(28, 110, 173, 0.2) 0px 60px 40px -7px;
    transform: translateY(-5px);
  }

  .header:hover {
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
    text-decoration: underline;
    filter: drop-shadow(2px 4px 6px #1c6ead);
  }
}

@media screen and (max-width: 768px) {
  .projectContainer {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .projectArticle {
    flex-direction: column;
    gap: 1.5rem;
    max-width: 518px;
  }

  .proHeaders {
    display: none;
  }

  #projectImage {
    width: 500px !important;
  }

  .projectDetails {
    justify-content: center;
    max-width: 100%;
    margin: 1rem;
  }

  .tabState {
    display: flex;
  }
}
