.projectContent {
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  height: 100vh;
}

.contentHeader {
  display: none;
}

.proHeaders {
  display: flex;
  flex-direction: column;
  display: inherit;
  font-size: 1rem;
  font-weight: 700;
  gap: 1rem;
  text-align: left;
}

.header {
  transition: all;
  transition-duration: 0.5s;
  padding-right: 2rem;
}

.projectArticle,
.header-addition {
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem !important;
  transition: all;
  transition-duration: 1s;
  max-width: 66.25rem;
  overflow: visible;
  transition: all;
  transition-duration: 1s;
  text-align: left;
}

.projectDetails {
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 20rem;
}

.projectDetails h1 {
  text-align: left;
  font-size: 1.6rem;
}

.projectDetails p {
  font-size: 0.9rem;
}

.header-addition {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding: 0;
  justify-content: space-around;
}

.tabState {
  display: none;
}

#projectImage {
  position: relative !important;
  max-width: 500px;
  max-height: 280px;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transition: all;
  transition-duration: 0.5s;
  filter: drop-shadow(0 0 0.75rem #1c6ead);
}

.projectArticle p {
  max-width: 30rem;
}

.technologies {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.technologyItem {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  transition: all;
  transition-duration: 0.25s;
}

.btnContainer {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.btnContainer button {
  border: 1px solid #b5b5b5;
}

.carouselBtn {
  justify-content: space-between;
}

@media (hover: hover) {
  .technologyItem:hover {
    box-shadow: rgba(28, 110, 173, 0.2) 0px 60px 40px -7px;
    transform: translateY(-5px);
  }

  .header:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: drop-shadow(2px 4px 6px #1c6ead);
  }

  .btnContainer button:hover {
    border-color: #1c6ead;
  }
}

@media screen and (max-width: 1024px) {
  .projectContent {
    flex-direction: column-reverse;
  }

  .proHeaders {
    flex-direction: row;
    gap: 2rem;
  }

  .header {
    border-right: none;
    /* filter: drop-shadow(2px 4px 6px #1c6ead); */
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .projectContent {
    flex-direction: column;
    margin: 7rem 0 8rem;
    height: 100%;
  }

  .contentHeader {
    display: block;
  }

  .projectContainer {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .projectArticle {
    flex-direction: column;
    gap: 1.5rem;
    max-width: 518px;
    height: 100%;
  }

  .proHeaders {
    display: none;
  }

  #projectImage {
    width: 500px !important;
  }

  .projectDetails {
    justify-content: center;
    max-width: 100%;
    margin: 1rem;
  }

  .tabState {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .projectContent {
    margin: 5rem 0;
  }

  .projectArticle {
    max-width: 350px;
  }

  #projectImage {
    width: 333px !important;
    height: 200px;
  }

  .btnContainer {
    margin-top: 0.5rem;
    flex-direction: column;
  }

  .btnContainer button {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .projectArticle {
    max-width: 300px;
  }

  #projectImage {
    width: 285px !important;
  }
}
