* {
  font-family: "Maven Pro", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 254, 254, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #555;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.transition {
  transition: all;
  transition-duration: 2s;
}

/* desktop nav */

.desktop-header,
.social-links {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  /* background-color: white; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 1rem;
  /* box-shadow: 2px -2px 5px 0 black; */
  z-index: 2;
}

.social-links {
  bottom: 0;
  padding: 1rem 5rem 1rem 2.5rem;
}

.social-links ul {
  gap: 1rem;
}

.desktop-menu,
.menu-open-btn,
.social-icon {
  gap: 3rem;
  /* border: 1px solid black; */
  padding: 0.25rem 0.5rem;
  background: rgb(255 255 255 / 8%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 22%);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255 255 255 / 0%);
}

.social-icon {
  gap: 0;
  /* padding: 0.2rem; */
  border-radius: 10px;
}

/* .footer-text {
  font-size: 1rem;
} */

.menu-open-btn {
  gap: 0;
  padding: 0.1rem;
}

.menu-btn-container {
  transition: 0.5s;
}

.menu-btn-container:hover {
  cursor: pointer;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.menu-container {
  gap: 1rem;
  align-items: center;
}

.open {
  animation: menu-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.trigger-in {
  animation: trigger-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.trigger-out {
  animation: trigger-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.close {
  animation: menu-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* animation keyframes */

@keyframes menu-in {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes trigger-in {
  0% {
    transform: translateX(278px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes trigger-out {
  0% {
    transform: translateX(-278px);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes error-msg-appear {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes name-entrance {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes subtext-entrance {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
