.content {
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homeHeader {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.name {
  font-size: 4rem;
}

.subtext {
  display: block;
  font-size: 2rem;
}

.msg {
  font-size: 1.4rem;
  margin-top: 3rem;
}

/* tablet (786px)*/

@media screen and (max-width: 768px) {
  .homeHeader {
    margin: auto 0;
  }

  .name {
    font-size: 3.75rem;
  }

  .subtext {
    font-size: 1.875rem;
  }

  .msg {
    font-size: 1.125rem;
    margin-top: 2.5rem;
  }
}

/* mobile */

@media screen and (max-width: 576px) {
  .name {
    font-size: 2.5rem;
  }

  .subtext {
    font-size: 1.25rem;
  }

  .msg {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
